{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kelimenin Kökü</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static "assets/css/style.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,500;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


    <a href="/">
        <h1>Türkçe siteye git</h1>
    </a>

    <div class="navbar-container">
        <div class="navbar">
            <h1>Kelimenin Kökü</h1>
        </div>
    </div>

    <div class="searchbar-container">
        <div class="searchbar">
            <form action="" method="get">
                <div>
                    <input type="text" name="search-box" id="search-box"
                        placeholder="Enter the word you want to inspect" co>
                </div>
                <div class="button">
                    <button class="glass-button" id="search-button">Find where it comes from</button>
                </div>
                <h4>Processing time may take up to 10-15 seconds for now, we're working to make it better ♥️
                </h4>
            </form>
        </div>
    </div>

    {% if result_text is not None %}
    <div class="glass-container">
        <div class="glass-panel">
            {{ result_text | safe }}
        </div>
    </div>
    {% endif %}

    <footer>
        <h1 style="display: inline;">Built with <h1 id="googlecloudai">Google Gemini Pro</h1>
        </h1>
    </footer>
    <script src="" async defer></script>
</body>

</html>